@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --main-color: #222831;
    --secondary-color: #00adb5;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

small {
    margin-bottom: 0px;
    line-height: normal;
}

p {
    margin-bottom: 0px;
    line-height: normal;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

.material-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    height: 10px;
    width: 10px;
}

hr {
    margin: 5px 0px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

.orange {
    color: var(--secondary-color);
}

.logo {
    width: 75px;
    height: 75px;
}

.navbar {
    background: var(--main-color) !important;
}

.navbar * {
    font-family: "Quicksand", sans-serif !important;
    color: white !important;
}

.navbar-brand {
    font-weight: bold;
}

.dropdown-menu {
    background: var(--main-color) !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.dropdown-menu a,
.dropdown-menu span {
    color: white;
}

.badge {
    background: var(--secondary-color);
}

.dropdown-item {
    transition: all 0.6s ease-out;
    background: none;
}

.dropdown-item:hover {
    background: #ff4301 !important;
    color: white;
    transition: background 0.6s ease-out;
}

.search-bar-input {
    border: none !important;
    border-radius: 5px !important;
    font-weight: bold;
    color: var(--main-color) !important;
}

.search-bar-submit {
    border: 2px solid var(--secondary-color) !important;
    border-radius: 5px !important;
}

.search-bar-submit:hover {
    background: var(--secondary-color) !important;
}

.jumbotron {
    background: var(--secondary-color);
    border-radius: 0px 0px 3em 3em;
}

.jumbotron * {
    color: white;
    font-family: "Quicksand", sans-serif;
}

.page-hero-title {
    font-weight: bold;
}

.page-hero-description {
    font-style: italic;
    font-size: 18px;
}

section {
    margin: 20px 0px;
}

.section-title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: #4a3f35;
    font-size: medium;
}

.underbar {
    background: var(--secondary-color);
    height: 5px;
    width: 175px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.novel-cover {
    width: 100%;
}

.novel-card {
    margin: 10px -5px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.novel-card-cover-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.novel-card-cover-box:hover > .novel-card-cover-overlay {
    transform: translate(0px, -200px);
    transition: all 0.5s ease;
}

.novel-card-cover-overlay {
    position: relative;
    z-index: 1;
    background: var(--main-color);
    height: 220px;
    transition: all 0.5s ease;
    border-radius: 0px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 20px;
}

.novel-card-cover-overlay-content {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.novel-card-cover-overlay-content p {
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

.novel-card-cover {
    z-index: 0;
    height: 250px;
    width: 100%;
    border-radius: 0px 10px 0px 0px;
    object-fit: fill;
    object-position: 0% 0%;
}

.novel-card-cover-overlay-description {
    color: white !important;
    font-size: 10px !important;
}

.novel-card-text {
    padding: 5px;
}

.novel-card-genre {
    color: dimgray;
    font-weight: lighter;
    font-size: 10px;
    font-style: italic;
}

.novel-card-author {
    color: dimgray;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
}

.novel-card-title {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
}

.novel-card-title:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

footer {
    background: var(--main-color);
    margin-top: 1em;
    padding: 25px;
}

footer * {
    color: white;
    font-family: "Quicksand", sans-serif;
}

footer .container {
    height: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-brand {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-logo {
    width: 150px;
    height: 150px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.footer-link-col {
    margin: 10px;
}

@media (max-width: 992px) {
    .novel-card-description,
    .novel-card-author {
        display: none;
    }
}

@media (max-width: 768px) {
    .novel-card-cover-box {
        height: 175px;
        width: 100%;
    }

    .novel-card-cover-overlay-description {
        color: white;
        font-size: 8px;
    }

    .novel-card-cover {
        height: 175px;
        width: 100%;
    }

    .card-overlay-appear {
        transform: translate(0px, -150px);
        transition: all 0.5s ease;
    }

    .footer-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 50px;
        height: 50px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .novel-card-cover {
        height: 175px;
        width: 100%;
    }

    .novel-card-cover-overlay-description {
        color: white;
        font-size: 8px;
    }

    .novel-card-cover-box {
        height: 175px;
        width: 100%;
    }

    .card-overlay-appear {
        transform: translate(0px, -150px);
        transition: all 0.5s ease;
    }

    .logo {
        width: 50px;
        height: 50px;
        text-align: center;
    }

    .footer-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

.chapter-list-toggle {
    height: 50px;
    width: 50px;
}

.chapter-list-toggle:hover {
    cursor: pointer;
}

#novel_form {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
}

#chapter_form {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
}

#editor {
    height: 300px;
    margin: 15px 0px;
}

.comment-section {
    height: 300px;
    overflow-y: scroll;
    margin: 10px 0px;
    padding: 1% 2% 5% 2%;
}

.comment {
    margin: 10px 0px;
    padding: 3% 3%;
}

.other-comment {
    border-radius: 0px 25px 25px 25px;
}

.my-comment {
    border-radius: 25px 0px 25px 25px;
}

.comment-author {
    font-weight: bold;
    color: var(--secondary-color);
}

.comment-date {
    font-weight: lighter;
    font-style: italic;
}

.comment-content {
    font-size: 12px;
}

#comment-editor {
    height: 150px;
    margin: 15px 0px;
}

/*--- Custom Forms ---*/
.errorlist {
    list-style: none;
}

.errorlist li {
    color: red;
    font-style: italic;
    font-size: 0.8em;
}
.signup-form-step-title {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
}
.custom-input-field {
    position: relative;
}

.custom-input-field input {
    border-radius: 0.5em;
    padding: 2em 0.5em;
}

.custom-input-field input::placeholder {
    color: grey;
}

.custom-input-field label {
    position: absolute;
    top: -10px;
    left: 10px;

    background-color: white;
    color: var(--secondary-color);
    font-weight: bold;
}

.custom-input-field textarea {
    padding: 1em 0.7em;
}

.custom-radio-group {
    position: relative;
    border: 1px #ced4da solid;
    border-radius: 5px;
    padding: 0.7em;
}

.custom-radio-group > label {
    position: absolute;
    top: -0.7em;
    left: 10px;
    background-color: white;
    color: var(--secondary-color);
    font-weight: bold;
}

.signup-form-nav-buttons {
    display: flex;
    justify-content: space-between;
}
