{% load static %}
<div class="navigation-buttons">

    <a style="cursor: pointer;" id="dark-mode-toggle-button">
        <div class="go-up">
            <img class="navigation-button-icon" src="{% static 'global/images/icons/svg/003-brightness.svg' %}"
                alt="dark mode" srcset="">
        </div>
    </a>

    <a href="#up">
        <div class="go-up">
            <img class="navigation-button-icon" src="{% static 'global/images/icons/svg/005-up-arrow.svg' %}"
                alt="start" srcset="">
        </div>
    </a>

    <a href="#down">
        <div class="go-down">
            <img class="navigation-button-icon" src="{% static 'global/images/icons/svg/003-down-arrow.svg' %}"
                alt="end" srcset="">

        </div>

    </a>
</div>