{% load static %}
{% load novel_extras %}
<div id="chapters" class="novel-chapter-list">
    {% if chapters %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Date de publication</th>
      <th scope="col">Public</th>
    </tr>
  </thead>
  <tbody>
    {% for chapter in chapters %}
    <tr>
    <th scope="row">{{ chapter.order  }}</th>
      <td >{{ chapter.title }}</td>
      <td>{{ chapter.created_at }}</td>
      <td>
	      {% if chapter.public %}
	      <small style="color:green;">Public</small>
	      {% else %}
	      <small style="color:red;">Non Public</small>
	      {% endif %}
      </td>
      <td><a href="{% url 'edit_chapter' chapter.id %}">Editer</a></td>
      <td><a style="color:red;" href="{% url 'delete_chapter' chapter.id %}">Supprimer</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>
    {% else %}
    <h5>Pas de chapitres disponibles</h5>
    {% endif %}
</div>
