{% extends 'global/base.html' %} {% load static %} {% block active_container %}container{% endblock active_container %} {% block content %}
{% include 'novels/blocks/confirmation_modal.html' %}
<div class="writer-dashboard">
    <form action=""></form>
    <div class="writer-dashboard-actions">
        <a href="{% url 'new_chapter' novel.id %}" class="writer-dashboard-action new-novel">
            <i class="fas fa-plus-square"></i>
            Nouveau Chapitre
        </a>
    </div>
</div>
<ul id="dashboard-chapter-list" class="writer-dashboard-novel-list">
    {% if chapters %}

        {% for chapter in chapters %}

    <li class="chapters writer-dashboard-novel-list-item">
        <i class="fas fa-grip-lines"></i>
        <p class="writer-dashboard-novel-item-title">
        {{ chapter.title  }}
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <a href="{% url 'edit_chapter' chapter.id %}" class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </a>
            <a data-url="{% url 'delete_chapter' chapter.id %}" class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </li>
            {% endfor %}

        {% else %}

    {% endif %}
</ul>


<div class="writer-dashboard-pagination">
        <div class="btn">Precedant</div>
        <div class="writer-dashboard-pagination-indicator">
        </div>
        <div class="btn">Suivant</div>
</div>



{% endblock content %}
