{% extends 'global/base.html' %}
{% block active_container %}container{% endblock active_container %}
{% block content %}
    <div class="writer-dashboard">

        <form action=""></form>
        <div class="writer-dashboard-actions">
            <i class="fas fa-plus-square"></i>
                <select id="order-type" name="order-type">
                    <option value="title">Titre</option>
                    <option value="title">Date de publication</option>
                    <option value="title">Chapitres</option>
                    <option value="title">Likes</option>
                    <option value="title">Commentaires</option>
                </select>

        </div>
    </div>
{% endblock content %}
