{% extends 'global/base.html' %} {% load static %} {% block active_container %}container{% endblock active_container %} {% block content %}
<div class="writer-dashboard">
    <form action=""></form>
    <div class="writer-dashboard-actions">
        <a href="{% url 'new_novel' %}" class="writer-dashboard-action new-novel">
            <i class="fas fa-plus-square"></i>
            Nouveau Roman
        </a>
    </div>
</div>
<ul class="writer-dashboard-novel-list">
    {% if novels %}

        {% for novel in novels %}

    <li class="writer-dashboard-novel-list-item">
        <img
            class="writer-dashboard-novel-item-cover"
            {% if novel.cover %}
                src="{{ novel.cover.url  }}"
            {% else %}

                    {% endif %}
            alt=""
        />
        <p class="writer-dashboard-novel-item-title">
        {{ novel.title  }}
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <a class="novel-item-action novel-item-action-chapters">
                <i class="fas fa-list-ol"></i>
            </a>
            <a href="{% url 'edit_novel' novel.id %}" class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </a>
            <a href="{% url 'delete_novel' novel.id %}" class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </li>
    {% if not forloop.last %}
        <hr />
        {% endif %}

            {% endfor %}

        {% else %}

    {% endif %}
</ul>


<div class="writer-dashboard-pagination">
        <div class="btn">Precedant</div>
        <div class="writer-dashboard-pagination-indicator">
        </div>
        <div class="btn">Suivant</div>
</div>



{% endblock content %}
