{% extends 'global/base.html' %} {% load static %} {% block active_container %}container{% endblock active_container %} {% block content %}
<div class="writer-dashboard">
    <form action=""></form>
    <div class="writer-dashboard-actions">
        <a href="{% url 'new_novel' %}" class="writer-dashboard-action new-novel">
            <i class="fas fa-plus-square"></i>
            Nouveau Roman
        </a>
    </div>
</div>
<ul class="writer-dashboard-novel-list">
    <li class="writer-dashboard-novel-list-item">
        <img
            class="writer-dashboard-novel-item-cover"
            src="{% static 'global/img/covs/cov1.jpg' %}"
            alt=""
        />
        <p class="writer-dashboard-novel-item-title">
            Les Aventures de Samba Diallo
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <div class="novel-item-action novel-item-action-chapters">
                <i class="fas fa-list-ol"></i>
            </div>
            <div class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </div>
            <div class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </li>
    <hr />
    <li class="writer-dashboard-novel-list-item">
        <img
            class="writer-dashboard-novel-item-cover"
            src="{% static 'global/img/covs/cov2.jpg' %}"
            alt=""
        />
        <p class="writer-dashboard-novel-item-title">
            Les Aventures de Samba Diallo
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <div class="novel-item-action novel-item-action-chapters">
                <i class="fas fa-list-ol"></i>
            </div>
            <div class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </div>
            <div class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </li>
    <hr />
    <li class="writer-dashboard-novel-list-item">
        <img
            class="writer-dashboard-novel-item-cover"
            src="{% static 'global/img/covs/cov3.jpg' %}"
            alt=""
        />
        <p class="writer-dashboard-novel-item-title">
            Ousbeda dans un autre monde
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <div class="novel-item-action novel-item-action-chapters">
                <i class="fas fa-list-ol"></i>
            </div>
            <div class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </div>
            <div class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </li>
    <hr />
    <li class="writer-dashboard-novel-list-item">
        <img
            class="writer-dashboard-novel-item-cover"
            src="{% static 'global/img/covs/cov4.jpg' %}"
            alt=""
        />
        <p class="writer-dashboard-novel-item-title">
            Les Aventures de Samba Diallo
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <div class="novel-item-action novel-item-action-chapters">
                <i class="fas fa-list-ol"></i>
            </div>
            <div class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </div>
            <div class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </li>
    <hr />
    <li class="writer-dashboard-novel-list-item">
        <img
            class="writer-dashboard-novel-item-cover"
            src="{% static 'global/img/covs/cov2.jpg' %}"
            alt=""
        />
        <p class="writer-dashboard-novel-item-title">
            Les dragons de Ouagadougou
        </p>
        <div class="novel-item-stats"></div>
        <div class="writer-dashboard-novel-item-actions">
            <div class="novel-item-action novel-item-action-chapters">
                <i class="fas fa-list-ol"></i>
            </div>
            <div class="novel-item-action novel-item-action-edit">
                <i class="far fa-edit"></i>
            </div>
            <div class="novel-item-action novel-item-action-delete">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </li>
</ul>


<div class="writer-dashboard-pagination">
        <div class="btn">Precedant</div>
        <div class="writer-dashboard-pagination-indicator">
        </div>
        <div class="btn">Suivant</div>
</div>



{% endblock content %}
