.default-covers {
    display: flex;
    justify-content: space-between;
}

.default-cover {
    width: 20%;
    border-radius: 1.5em;
    opacity: 0.4;
}

.default-cover-selected {
    border-radius: 0em;
    opacity: 1;
    background-color: blue;
    transition: 0.3s all ease-in;
}

.upload-your-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2em #00adb5 solid;
    border-radius: 0.5em;
    height: 5em;
    width: 5em;
}

.upload-your-cover i {
    color: #00adb5;
}

.upload-your-cover:hover {
    background-color: #00adb5;
}

.upload-your-cover:hover i {
    color: white;
}

.cover-uploaded {
    background-size: cover;
    background-position: center;
    border: none;
}
.novel-form-title-input {
    height: 3em;
    border: none;
    padding: 1em 0em;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.726);
    font-weight: bold;
    font-size: 25px;
    transition: all 0.3s ease-out;
}

.novel-form-title-input:focus {
    outline: none;
    padding: 1em;
    transition: all 0.5s ease-out;
}

.novel-form-title-input::placeholder {
    color: rgba(0, 0, 0, 0.459);
}
