{% load static %}
{% load novel_extras %}
<section class="novel-section">
  <!--- TITLE --->
  <div class="section-title-container">
    <div class="section-title-top">
      <p class="section-title">{{ section_title }}</p>
    </div>
    <div class="section-title-bottom"></div>
  </div>
  <!--- SECTION-CONTENT --->
  <div style="background-color: white;" class="section-content material-shadow">
    <div class="nc-grid">

      {% for novel in novels %}

        <div class="nc simple-nc">
          <div class="simple-nc-overlay">
            <p>{{ novel.title }}</p>
            <p>{{ novel.description|safe|truncatechars:250 }}...</p>
            <div class="simple-nc-stats">

              <div class="simple-nc-stat simple-nc-stat-views">
                <i class="fas fa-eye"></i>
                <small>{{ novel.reads }}</small>
              </div>
              <div class="simple-nc-stat simple-nc-stat-parts">
                <i class="fas fa-list-ol"></i>
                <small>{{ novel.id|novel_chapters }}</small>
              </div>
              <div class="simple-nc-stat simple-nc-stat-likes">
                <i class="fas fa-hand-holding-heart"></i>
                <small>{{ novel.id|novel_likes }}</small>
              </div>
              <div class="simple-nc-stat simple-nc-stat-comments">
                <i class="fas fa-comments"></i>
                <small>{{ novel.id|novel_comments }}</small>
              </div>
            </div>
            <div class="simple-nc-actions">

              <a href="{% url 'novel' novel.id %}">
                <i class="fas fa-glasses"></i>
              </a>
              {% if user.is_authenticated %}
                {% if novel.id|is_already_in_library:user.id %}
                  <a href="{% url 'remove_from_library' novel.id %}">
                    <i class="fas fa-folder-minus"></i>
                  </a>
                {% else %}
                  <a href="{% url 'add_to_library' novel.id %}">
                    <i class="fas fa-folder-plus"></i>
                  </a>
                {% endif %}
              {% endif %}
            </div>
          </div>

          <img src="{% if novel.cover %} {{ novel.cover.url }} {% endif %}" alt="" />
        </div>

      {% endfor %}

    </div>
  </div>
</section>
