{% extends 'global/base.html' %}
{% load static %}
{% block additional_stylesheets %}
<link rel="stylesheet" href="{% static 'novels/css/novel.css' %}">
{% endblock additional_stylesheets %}
{% block active_container %}container{% endblock active_container %}
{% block content %}

<a href=" {% url 'new_chapter' novel.id %} ">Nouveau Chapitre</a>
|
<a href=" {% url 'edit_novel' novel.id %} ">Éditer le Roman</a>
|
<a href=" {% url 'delete_novel' novel.id %} ">Supprimer le Roman</a>
<!-- Chapter List -->
<section>
    <h1 class="section-title">Chapitres</h1>
    <div class="section-title-underbar underbar"></div>
    <div class="section-content">
                 <!-- Chapter List -->
                    {% include 'novels/blocks/tables/chapter_table.html' %}
    </div>
</section>
{% endblock content %}
