{% load static %}

<footer>
     <div class="container">
         <div class="footer-content">

            <!-- Brand & Logo -->
             <div class="footer-brand">
                 <!-- <h1 style="font-weight: bold;"> <span class="orange">Stallion</span> Novels </h1> -->
                 <img class="footer-logo" src="{% static 'global/images/logo.png' %}" alt="">
                 <p>Partage de Romans en ligne Africains</p>
                 <p style="color: dimgray;">Evolution Technologies. © 2020</p>
             </div>

             <!-- Links -->
             <div class="footer-links row">

                 <div class="footer-link-col col-md">
                     <p style="font-weight: bold;">Réseaux Sociaux</p>
                     <ul style="list-style: none;">
                         <li style="color: white;"><a href="">Facebook</a></li>
                         <li style="color: white;"><a href="">Instagram</a></li>
                         <li style="color: white;"><a href="">Discord</a></li>
                     </ul>
                 </div>

                 <div class="footer-link-col col-md">
                     <p style="font-weight: bold;">Ressources</p>
                     <ul style="list-style: none;">
                         <li style="color: white;"><a href="">Blog</a></li>
                     </ul>
                 </div>

                 <div class="footer-link-col col-md">
                     <p style="font-weight: bold;">Informations</p>
                     <ul style="list-style: none;">
                         <li style="color: white;"><a href="">Qui sommes-nous?</a></li>
                         <li style="color: white;"><a href="">Collaborer avec nous</a></li>
                         <li style="color: white;"><a href="">Contacts</a></li>
                     </ul>
                 </div>

             </div>
             
         </div>
         
     </div>
 </footer>