{% load static %}
<header>
    <div class="upper-header">
        <i class="logo fas fa-book-reader"></i>
        <form class="search-form" action="">
            <i class="search-icon fas fa-search"></i>
            <input
                class="search-input"
                type="text"
                placeholder="Chercher un livre..."
            />
        </form>

        <button class="profile-button">
            <i class="fas fa-user-circle"></i>
        </button>
    </div>

    <div class="lower-header">
        <nav class="novel-genre-nav">
            {% for genre in genres %}
                <a class="novel-genre-nav-item" href=" {% url 'genre' genre.title %} ">{{ genre.title }}</a>
             {% endfor %}
        </nav>
    </div>

    <nav class="side-panel side-panel-hidden material-shadow">
        <div class="panel-section auth-section">
            <a class="register" href=" {% url 'signup' %} ">S'inscrire</a>
            <a class="login" href="{% url 'login' %}">Se connecter</a>
        </div>
        <hr />

        <div class="panel-section account-section">
            <div class="account-section-item">
                <a class="section-item-title">Bibliothèque</a>
                <i class="fas fa-book"></i>
            </div>
            <div class="account-section-item">
                <a class="section-item-title">Créations</a>
                <i class="fas fa-feather-alt"></i>
            </div>
            <div class="account-section-item">
                <a class="section-item-title">Notifications</a>
                <i class="far fa-bell"></i>
            </div>
        </div>
    </nav>
</header>
