<nav class="side-panel side-panel-hidden">
  <div class="panel-section auth-section">
    {% if user.is_authenticated %}
    <a class="register" href=" {% url 'logout' %} ">Me deconnecter</a>
    {% else %}
    <a class="register" href=" {% url 'signup' %} ">S'inscrire</a>
    <a class="login" href="{% url 'login' %}">Me connecter</a>
    {% endif %}
  </div>
  <hr />

  <div class="panel-section account-section">
    <div class="account-section-item">
      <a class="section-item-title">Bibliothèque</a>
      <i class="fas fa-book"></i>
    </div>
    <div class="account-section-item">
      <a class="section-item-title">Créations</a>
      <i class="fas fa-feather-alt"></i>
    </div>
    <div class="account-section-item">
      <a class="section-item-title">Notifications</a>
      <i class="far fa-bell"></i>
    </div>
  </div>
</nav>
