{% extends 'global/base.html' %}
{% block active_container %}
	container
{% endblock active_container %} 
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Notification</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
{% for notification in page_obj %}
    <tr>
		{% if notification.unread %}
			<td>{{notification.verb}}</td>
			<td>{{notification.timestamp}}</td>
		{% else %}
			<td style="color: grey;">{{notification.verb}}</td>
			<td>{{notification.timestamp}}</td>
		{% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Premier</a>
            <a href="?page={{ page_obj.previous_page_number }}">Precedant</a>
        {% endif %}

        <span style="color:grey;" class="current">
            Page #{{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivant</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Dernier &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
