{% extends 'global/base.html' %}
{% block active_container %}container{% endblock active_container %}
{% block content %}
 <!-- Collection of novels according to the requested genre -->
        <section>
            <h1 class="section-title">{{ page_hero_title }} </h1>
            <div class="section-title-underbar underbar"></div>
            <div class="section-content">
            {% if requested_genre_novels %}
           {% include 'novels/blocks/novel_cards.html' with novels=requested_genre_novels %}
            {% else %}
            <h1>
                Yako... Pas de romans trouvé :'(
            </h1>
            {% endif %}
            </div>
        </section>
{% endblock content %}